/* Код для вставки для кнопки:
 */

@import url(../fonts/fonts.css);
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    /* height: fit-content;*/
    background-color: #6b300f;
    height: 100%;
    max-width: 100%;
    min-width: 1300px;
}


/* button:focus,
button:active {
    outline: none;
} */

fieldset {
    padding: 0;
}

a {
    text-decoration: none;
}

.active-link {
    text-shadow: 0px 4px 10px #FFFFFF;
}


/* главная страница */

.center-nav-link:hover,
.registration-link:hover {
    text-decoration: underline;
}

.container {
    min-width: 1360px;
    max-width: 100%;
    margin: 0 auto;
}


/* header */

.adapt-header {
    background: #6b300f;
    padding: 1% 3%;
    margin: 0 auto;
    position: relative;
}

.page-navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
}

.left-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
}


/* .logo {
    box-shadow: 0px 0px 15px 10px #000;
} */

.title {
    margin-left: 2%;
    text-shadow: 0px 4px 4px black;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
}

.center-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    margin-left: 5%;
}

.center-nav-link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.center-nav-link:nth-child(2) {
    margin: 0 50px;
}

.right-navbar {
    display: flex;
    align-items: center;
    padding-top: 45px;
    margin-left: 130px;
}


/* .icon-account {
    background-color: grey;
} */

.acc-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.navbar-registration {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.registration-link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}


/* основная страница */

main {
    background: #6b300f;
}

.main-block-index-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #6b300f;
}

.button-div {
    padding: 0 0 5% 3%;
}

.text {
    margin: 0 0 15% 0;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.help-button {
    background: #FBDCB8;
    border: none;
    border-radius: 98px;
    color: #421F0B;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
}

.help-button:hover {
    transition: all 0.5s;
    box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
}


/* авторизация и аутентификация*/

.form-sec {
    display: flex;
    justify-content: space-around;
}

.form-span {
    color: #421F0B;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.auth-form {
    border: 2px solid #FBDCB8;
    background-color: #FBDCB8;
    margin: 50px auto 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-top: 12px;
    margin-bottom: 5px;
}

.form_sub {
    margin-top: 10px;
    color: #FBDCB8;
    border: none;
    border-radius: 98px;
    background: #6b300f;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.form_sub:hover {
    transition: all 0.5s;
    box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 20px 18px rgba(255, 255, 255, 1);
}

.success {
    color: #FBDCB8;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 84px;
    margin: 0 auto;
    text-align: center;
}

.warning {
    color: red;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 84px;
    margin: 0 auto;
    text-align: center;
}


/* страница с кнопками для приютов*/

.add-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    padding-left: 3%;
}

.add_button {
    display: flex;
    flex-direction: column;
}

.add_button:nth-child(2) {
    margin-top: 90px;
}

.button-description {
    background-color: #FBDCB8;
    padding: 30px 0 30px 25px;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 90px;
    margin-left: 35px;
}


/* страница с несколькими приютами */

.shelters-wrapper {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
}

.shelter {
    display: flex;
    margin-bottom: 100px;
}

.shelter-img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.shelter-filling {
    display: flex;
    flex-direction: column;
    width: 1085px;
    margin-left: 30px;
    background-color: #F4A460;
    border-radius: 100px;
    padding: 20px 50px;
}

.shelter-name {
    color: #6B300F;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.shelter-description {
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    text-overflow: ellipsis;
    /* IE, Safari (WebKit) */
    overflow: hidden;
    /* don't show excess chars */
    white-space: nowrap;
    width: 1000px;
}

.link-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.last-inq {
    color: #6B300F;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.shelter-link {
    color: #6B300F;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}

.shelter-link:hover {
    color: white;
}

.shelter-link:active {
    color: #6B300F;
}


/* страница приюта */

.shelter-page-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.shelter-img-and-address {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.shelter-page-img {
    width: 690px;
    height: 500px;
    border-radius: 98px;
    margin-bottom: 150px;
    margin-left: 30px;
}

.shelter-contacts {
    display: flex;
    flex-direction: column;
    background: #976133;
    justify-content: space-around;
}

.shelter-contact {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    /* text-align: center; */
}

.shelter-discr-and-inq {
    color: white;
    width: 600px;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    /* text-align: center; */
    margin-right: 100px;
}

.shelter-descr {
    margin-bottom: 150px;
}

.inq {
    display: flex;
    flex-direction: column;
}

.h1-inq {
    font-weight: 900;
    background: #F4A460;
    border-radius: 5px 5px 0 0;
    padding: 2px 10px;
    font-size: 36px;
}

.inq {
    background: #F4A460;
    padding: 5px 16px;
    font-size: 32px;
}


/*
.one-inq:not(:first-child)::before {
    content: ", ";
} */


/* о нас */

.about-us-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 70px;
    color: white;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}

.p-and-video {
    display: flex;
    flex-direction: row;
    /* border: #FFFFFF solid 1px; */
}

.about-us-descr {
    width: 800px;
    margin-bottom: 50px;
    margin-right: 200px;
}

.about-us-video {
    height: 400px;
    width: 600px;
    padding: 0 20px;
    background-color: #d1af89;
}

.site-features-h1 {
    max-width: 370px;
    margin-bottom: 50px;
}

.features-and-contacts {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.feature {
    list-style: none;
    padding-left: 130px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.feature:nth-child(1) {
    background: url(../img/emoji_1.png) no-repeat 0 4px;
}

.feature:nth-child(2) {
    background: url(../img/emoji_2.png) no-repeat;
}

.feature:nth-child(3) {
    background: url(../img/emoji_3.png) no-repeat;
}

.our-contacts {
    display: flex;
    flex-direction: column;
    background-color: #976133;
    padding: 10px 200px 10px 10px;
    margin-bottom: 90px;
}

.h1-our-contacts,
.our-email,
.our-tel,
.our-address {
    margin-bottom: 10px;
}